<table class="primary">
	<thead>
		<tr>
			<th>Description</th>
			<th>Notes</th>
			<th>Borrowed since</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |article|}}
			{{articles/article-row article=article save="save" articleStates=possibleStates}}
		{{/each}}
	</tbody>
</table>

{{!-- 
loop over every article in the model
render an articles-row component for each article? model?
while bounding the save action to another action also called 'save'
also binding the articleState to the list of possibleStates in controller
--}}
