{{!-- 
When Ember starts, it will render the Application Template as the main template. Inside {{outlet}},
it will render the template associated with the Route we are visiting. Then, inside those templates,
we can have more {{outlet}} to keep rendering content.
 --}}
<h2 id="title">Welcome to Ember.js</h2>
{{#link-to 'friends'}}Go to friends list{{/link-to}}
{{outlet}}

