{{!-- 
When Ember starts, it will render the Application Template as the main template. Inside {{outlet}},
it will render the template associated with the Route we are visiting. Then, inside those templates,
we can have more {{outlet}} to keep rendering content.
 --}}

{{partial 'partials/header'}}
<h2>{{#link-to 'friends'}}Go to friends list{{/link-to}}</h2>
<div class="row">
	<div class="full">
		{{outlet}}
	</div>
</div>